h1= title

h2 Feed
div#stat
  | Hello
div
  button#left(onclick='choose("left")') L
  button#right(onclick='choose("right")') R
  div#side

div#timer

div(style='width: 160px; height: 60px; padding: 0px')
  div(style='float:left; width: 100px; height: 30px')
    h2 History
  div(style='float:right; widht: 60px; height: 30px')
    button#history_edit(onclick='edit.start()') Edit
div#history
