h1= title

h2 Feed
div#stat
  p Last feed @ 00:00:00
div
  button#BreastLeft(onclick='choose("left")') L
  button#BreastRight(onclick='choose("right")') R
  div#side

div
  - if (feeding)
    p Lasted 00:00:00
    button#timer(onclick='feed()') End
  - else
    button#timer(onclick='feed()') Start

h2 History
