h1= title

h2 Feed
div#stat
  | Last feed @ 00:00:00
div
  button#left(onclick='choose("left")') L
  button#right(onclick='choose("right")') R
  div#side

div#timer

h2 History
div#history
  button#history(onclick='history.load()') Load
